article.hero {
	width: 66dvw;
	margin-left: 2rem;
	h1 {
		font-size: 4.5rem;
        line-height: 1;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 1rem;
        width: 70%;
	}
	p {
		font-size: 1.3rem;
        font-weight: 500;;
		color: #fff;
		margin-bottom: 2rem;
	}
	div.buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
		.button {
            font-size: 1.3rem;
            font-weight: 500;
            text-decoration: none;
            text-align: center;
			color: #222;
			background-color: #fff;
			padding: 0.8rem 1.6rem;
			border-radius: 2rem;
            &.dark {
                background-color: #222;
                color: #fff;
            }
		}
	}
}
